body {
	margin: 3em;
	font-family: Univers, U001, sans;
	font-size: 10pt;
	width: 90ex;
}

header {
	text-align: right;
	font-family: Optima, URWClassico, sans;
	font-style: italic;
	margin-top: 4em;
	margin-bottom: 6em;
}

header hr {
	height: 4pt;
	border: 0;
	background-color: black;
	margin-top: 0;
}

/* document title */
h1 {
	font-size: 24pt;
	margin-bottom: 0;
}

/* document subtitle */
header p {
	font-size: 16pt;
	margin-top: 0;
}

/* subsection heading */
h5 {
	font-size: 12pt;
	font-weight: bold;
	margin-top: 2em;
	margin-bottom: 1em;
}

/* paragraph heading */
h6 {
	font-size: 10pt;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 1em;
}

/* definition lists */
dl {
	display: grid;
	grid-template-columns: 15% 85%;
	margin-top: 0;
}
dd {
	margin-left: 1ex;
}
dt {
	font-style: italic;
}

/* errata tables */
table {
	width: 100%;
	margin-top: 1ex;
	margin-bottom: 1ex;
}
col.bk {
	width: 8ex;
}
col.pp {
	width: 10ex;
}
tr:nth-child(odd) {
	background-color: #ddd;
}
td {
	vertical-align: top;
}

/* dividers */
hr {
	color: grey;
	border-style: dashed;
}
